
@{
    ViewData["Title"] = "_Layout";
}
<html>
<head>
    <title>Hello React</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/mainStyles.css" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <div class="header">
                <div class="header_body">
                    <a class="header_logo" asp-action="MainPage" asp-controller="Main">
                        <img src="~/Images/logo.jpg" alt="logo" />
                    </a>
                    <div class="header_items">
                        <ul class="header_list">
                            <li>
                                <a href="https://github.com/VladimirNone?tab=repositories">Github</a>
                            </li>
                            <li>
                                <a asp-action="MainPage" asp-controller="Main">Главная</a>
                            </li>
                            <li>
                                <div id="authorization">

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header_under">
                    <div class="header_under_items">
                        <div class="header_under_selected_info">
                            <ul class="header_under_list">
                                <li>
                                    <a href="#">Категории</a>
                                    <ul id="listOfCategories" class="categories">
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="header_under_searching">
                            <div id="seacher" />
                        </div>
                        <div id="something"></div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="content_body">
                <div id="content">

                </div>
            </div>
        </div>
        <script src=@Url.Content("~/js/shared.jsx")></script>
        @RenderBody()

        <footer>
            <div class="footer">
                <div class="footer_body">
                    <div class="footer_body_item">
                        <p>
                            <a href="https://github.com/VladimirNone/ShopApp">Github создателя</a>
                        </p>
                    </div>
                    <div class="footer_body_item">
                        <p>
                            jiltsov01@yandex.ru
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>


</body>
</html>