body {
    padding: 0;
    margin: 0;
    border: 0;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1180px;
    margin: 0px auto;
}

.header {
    width: 100%;
}

.header_body {
    background-color: #ff6a00;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_list {
    text-decoration: none;
    display: flex;
}

    .header_list li {
        list-style: none;
        margin: 0px 20px;
        text-transform: uppercase;
        display: flex;
    }

        .header_list li a {
            text-decoration: none;
            color: #000;
            margin: auto;
        }

.header_logo {
    margin: 5px;
}

    .header_logo img {
        max-width: 70px;
        border-radius: 60%;
    }

.auth_form_login {
    display: flex;
    margin: 0;
}

.auth_props {
    display: flex;
    flex-direction: column;
}

.auth_btns {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header button {
    background: #51f83d;
}

.auth_props input, .auth_btns button {
    margin: 2px;
}


.categories li {
    list-style: none;
}

.categories:hover {
    display: block;
    text-decoration: none;
}

.header_under {
    background: #ffaa00;
}

.header_under_items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_under_searching {
    margin: 0 10px;
}

#seacher {
    display: flex;
}

    #seacher form {
        margin: auto;
    }

        #seacher form button {
            margin-left: 3px;
        }

ul {
    list-style: none;
    display: block;
    margin: 0px;
    padding: 0px;
}

    ul:after {
        display: block;
        float: none;
        content: ' ';
        clear: both;
    }

    ul.header_under_list > li {
        float: left;
        position: relative;
    }

        ul.header_under_list > li > a {
            display: block;
            color: #fff;
            padding: 10px;
            text-decoration: none;
            background-color: #da570f;
        }

            ul.header_under_list > li > a:hover {
                background-color: #eb9316;
            }

    ul.categories {
        position: absolute;
        max-width: 240px;
        top: 37px;
        left: 0px;
        display: none;
        background-color: white;
    }

        ul.categories > li {
            display: block;
            white-space: nowrap;
        }

            ul.categories > li > a {
                display: block;
                text-decoration: none;
                padding: 10px;
                color: #ffffff;
                background-color: #da570f;
            }

                ul.categories > li > a:hover {
                    background-color: #eb9316;
                    text-decoration: underline;
                }

    ul.header_under_list > li:hover > ul.categories {
        display: block;
    }

.grid {
    border: solid 1px #e7e7e7;
}

.grid__row ul {
    display: flex;
}


.grid__item {
    flex: 1;
    display: flex;
    padding: 12px;
    border: solid 1px #e7e7e7;
    max-height: 347px;
    max-width: 295px;
    justify-content: center;
}

.invisible__product {
    border: hidden 0 #e7e7e7;
}

.grid__item img {
    display: block;
    max-width: 268px;
    margin: 0 auto;
}

.grid__item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    max-width: 269px;
}

.grid__item .item_name {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.grid__item .item_price {
    font-size: 25px;
    margin: 0;
}

.item__info {
}

.formForNewComment {
    height: 100px;
}

.product__info {
    margin: 0 auto;
    max-width: 800px;
    border: 1px solid black;
    padding: 15px;
}

.product__info__image img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    max-height: 400px;
}

.product__info__basic {
    margin: 0 auto;
    max-width: 600px;
}

.product__info__basic__space__between {
    display: flex;
    justify-content: space-between;
}

.product__info__comment {
    height: 50px;
}

.product__info__buyProduct {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

    .product__info__buyProduct input {
        width: 10%;
    }

    .product__info__buyProduct input, .product__info__buyProduct button {
        margin: 1em 1em;
    }

.product__info__showComments button {
    width: 100%;
    text-align: center;
    background-color: darkgray;
    border-radius: 5px;
}

    .product__info__showComments button:hover {
        background-color: aqua;
    }

.footer__body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ff6a00;
}

.footer__body__item {
    padding: 10px;
    background: #ffaa00;
    width: auto;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid blue;
        border-color: blue transparent blue transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

    .modal label {
        font-size: 14px;
        margin: 2px;
    }

    .modal button {
        max-width: 33%;
        margin: 5px 0px;
    }

.modal_body {
    padding: 2rem;
    width: 400px;
    border-radius: 5px;
    background: #fff;
    height: 200px;
}

.modal_body_for_remove {
    height: 120px;
}

    .user_data_block_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .user_data_block_wrapper li {
        font-weight: bold;
        text-transform: none;
    }

.user_data_block_functional {
}

.profile_wrapper {
    display: flex;
    flex-direction: row;
    height: 500px;
}

.profile_icon {
    width: 50%;
    background-color: red;
    padding: 20px;
}

.profile_info {
    width: 50%;
    background-color: green;
    margin: 20px;
}

.profile_wrapper_main {
    width: 80%;
    margin: 0px auto;
}

.order_item {
    border: 1px solid black;
    padding: 10px;
}

    .order_item p {
        margin: 0.5em 0;
    }

.functional {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order_wrapper, .product_user_list_wrapper {
    width: 80%;
    margin: 0px auto;
}

.user_data_block_functional li a, .user_data_block_profile li a {
    margin: 0px;
}

.zebra {
    background-color: antiquewhite;
}

.formForNewComment form {
    margin: 10px 0;
}

    .formForNewComment form textarea {
        width: 100%;
        height: 60px;
    }

.product_order_item, .user_product_item {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product_order_item_info, .user_product_item_info {
    width: 70%;
}

.product_order_item_interaction, .user_product_item_interaction {
    width: 30%;
}

    .product_order_item_interaction button, .user_product_item_interaction button{
        margin: 0 0 0 100px;
    }

.order_header {
    display: flex;
    flex-direction: row;
}

    .order_header h2 {
        width: 50%;
    }

.order_button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0.5em;
}

    .order_button button{
        font-size: 16px;
    }